<ion-header [translucent]="true">
  <ion-toolbar color="primary">

    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title >Home</ion-title>
  </ion-toolbar>
</ion-header>

<body style="background-color: black;"></body>



<ion-content [fullscreen]="true">


      <ion-grid>
        <ion-row>
          <ion-col size="0">
            <div class="columna-izquierda">

            </div>
          </ion-col>
          <ion-col size="12">
            <ion-card>

              <ion-card-header [translucent]="true">
                <ion-toolbar color="primary">
                  <ion-title>Hoja de vida</ion-title>
                </ion-toolbar>
              </ion-card-header>
          
              <ion-card>
                <ion-card-content >
                  <ion-grid>
                    <ion-row >
                      <ion-col size="5" style="background-color: rgb(59, 59, 59);" >
                        <div class="columna-izquierda" >
                          <img src="assets/imgPerfil.jpg" alt="imagen perfil" style="width: 150px;" height="150px">
                        </div>
                        <ion-col size="5">
                          <div class="columna-derecha" style="text-align: left; color: white;">
                            <h4><p> OSCA ANDRES</p></h4>
                            <h4><p> AGUILAR MOLINA </p></h4>
                            <h4><p> Especialista en Inteligencia Artificial y Machine Learning</p></h4>
                            <h4><p> Correo: </p></h4>
                          </div>
                        </ion-col>
                        <ion-col size="5">
                          <div class="columna-derecha" style="text-align: left; color: white;"  >
                            <h1><p> CONTACTO:</p></h1>
                            <h4><p> Direccion: cr89a </p></h4>
                            <h4><p> Numero de telefono: 3103434123 </p></h4>
                            <h4><p> Correo: oaam700@gmail.com </p></h4>
                          </div>
                        </ion-col>
                        <ion-col size="5">
                          <div class="columna-derecha" style="text-align: left; color: white;"  >
                            <header>PERFIL:</header> <br>
                            <h1><p>Soy un programador altamente competente y apasionado por el desarrollo de software. Poseo una sólida experiencia en programación, tanto en el desarrollo frontend como en el backend, y estoy familiarizado con diversos lenguajes de programación, como JavaScript, Python y Java.</p></h1>
                          </div>
                        </ion-col>
                      </ion-col>
                      <ion-col size="7">
                        <div class="columna-derecha" style="text-align: left; color: black;" >
                          <h5><p style="background-color: aqua; "> EXPERIENCIA LABORAL: </p></h5>
                          <h6><p> Gerente de Proyectos <br>
                                  Empresa XYZ, Ciudad, País <br>
                                  Febrero 2018 - Presente <br>
                  
                                  <br>
                            
                                  Lideré con éxito múltiples proyectos de gran envergadura, supervisando un equipo de
                                  15 profesionales.<br>
                                  Desarrollé e implementé planes de proyecto, gestionando eficazmente los 
                                  recursos, el cronograma y el presupuesto.<br>
                                  Coordiné las actividades interdepartamentales, asegurando una 
                                  comunicación fluida y la resolución eficiente de problemas.<br>
                                  Logré un historial de finalización de proyectos en tiempo y dentro del 
                                  presupuesto asignado, obteniendo la satisfacción del cliente. </p></h6>
                        </div>
                        <ion-col size="7">
                          <div class="columna-derecha" style="text-align: left; color: black;">
                            <h5><p style="background-color: aqua;"> EDUCACION: </p></h5><br>
                            <h6><p> Nivel educativo: Maestría en Ciencias de la Tecnología de la Información </p></h6>
                            <h6><p> Institución: Universidad Innovadora <br>
                                    Fecha de obtención: Mayo 2023</p></h6>
                            
                          </div>
                    
                        </ion-col>
  
                  
                      </ion-col>
                      
                    </ion-row>
                  </ion-grid>
                </ion-card-content>
          
              </ion-card>
          
          
            </ion-card>
          </ion-col>
          <ion-col size="0">
            <div class="columna-derecha">

            </div>
          </ion-col>
        </ion-row>
      </ion-grid>


</ion-content>


<!--inicio footet----------------------------------------------->

<ion-footer>
  <ion-toolbar color="primary">

  </ion-toolbar>
</ion-footer>

<!--fin footer------------------------------------------------->






